# Variáveis e Operadores

In [1]:
# Atribuindo o  valor 1 a variável var_teste
var_teste = 1

In [2]:
# Imprimindo o valor da variável
var_teste

1

In [3]:
# Imprimindo o valor da variável
print(var_teste)

1

In [4]:
# Não podemos utilizar uma variável que não foi definida, veja as mensagens de erro
my_var

NameError: name 'my_var' is not defined

In [5]:
var_teste = 2

In [6]:
var_teste

2

In [7]:
type(var_teste)

int

In [8]:
var_teste = 9.5

In [9]:
type(var_teste)

float

In [10]:
x = 1

In [11]:
x

1

# Declaração Múltipla

In [16]:
pessoa1, pessoa2, pessoa3 = "Maria", "José", "Tobias"

In [17]:
pessoa1

'Maria'

In [18]:
pessoa2

'José'

In [19]:
pessoa3

'Tobias'

In [21]:
fruta1 = fruta2 =  fruta3 = "laranja"

In [22]:
fruta1

'laranja'

In [23]:
fruta2

'laranja'

# Pode-se usar Letras, Números e Underline (Mas não se pode começar com número)

In [24]:
x1 = 50

In [25]:
x1

50

In [26]:
# Mensgenm de erro pos o Pyton não permite nome de variáveis que iniciem co números
1x = 50

SyntaxError: invalid syntax (3401234650.py, line 2)

In [27]:
# Não podemos usar palavras reservadas como nome de variável
break = 1

SyntaxError: invalid syntax (103517557.py, line 2)

# Variáveis atribuídas a outras variáveis e ordem dos operdaores

In [28]:
largura = 2

In [29]:
altura = 4

In [30]:
area = largura * altura

In [31]:
area

8

In [32]:
perimetro = 2 * largura + 2 * altura

In [34]:
perimetro

12

In [37]:
perimetro = 2 * (largura + 2) * altura

In [38]:
perimetro

32

# Operações com Variáveis

In [39]:
idade1 = 25

In [40]:
idade2 = 35

In [41]:
idade1 + idade2

60

In [47]:
idade2 - idade1

10

In [48]:
idade2 * idade1

875

In [49]:
idade2 / idade1

1.4

In [50]:
idade2 % idade1

10

# Concatenação de Variáveis

In [51]:
nome = "Steve"

In [54]:
sobrenome = "Jobs"

In [55]:
fullname = nome + " " + sobrenome

In [56]:
fullname

'Steve Jobs'