## Tuplas

In [1]:
# Criando tuplas
tupla1 = ("geografia", 23 , "elefante")

In [2]:
# Imprimindo a tupla
tupla1

('geografia', 23, 'elefante')

In [3]:
# Tuplas não não suportam append()
tuplaq1.append("chocolate")

NameError: name 'tuplaq1' is not defined

In [4]:
# Tuplas não suportam delete de um item específica
del tupla1["geografia"]

TypeError: 'tuple' object does not support item deletion

In [5]:
# Tuplas podem ter um único item
tupla1 = ("chocolate")

In [6]:
tupla1

'chocolate'

In [7]:
tupla1 = ("geografia", 23 , "elefante")

In [8]:
tupla1[0]

'geografia'

In [9]:
# Verificando u compruimento da tupla
len(tupla1)

3

In [10]:
# Slicing da mesma forma que se faz com listas
tupla1[1:]

(23, 'elefante')

In [11]:
tupla1.index("elefante")

2

In [12]:
# Tuplas não suportama tribução de item
tupla1[1] = 21

TypeError: 'tuple' object does not support item assignment

In [13]:
del tupla1

In [14]:
# Criando uma tupla
t2 = ("a", "b", "c")

In [15]:
t2

('a', 'b', 'c')

In [16]:
# Tuplas nã suportam atribuição de um item
t2[0] = "d"

TypeError: 'tuple' object does not support item assignment

In [17]:
# Usando a função list() para converter uma tuplapara lista
lista_t2 = list(t2)

In [18]:
lista_t2

['a', 'b', 'c']

In [19]:
lista_t2.append("d")

In [20]:
# Usando a função Tuple() para converter uma lista em tupla
t2 = tuple(lista_t2)

In [21]:
t2

('a', 'b', 'c', 'd')