# Objetos

In [1]:
# Criando uma lista
lst_num = ["Data", "Science", "Academy", "Nota", 10, 10]

In [2]:
# A lista lst_num é um objeto, uma instância da classe list do Python
type(lst_num)

list

In [3]:
lst_num.count(10)

2

In [4]:
# Usamos a função type para verificar o tipo de um objeto
print(type(10))
print(type([]))
print(type(()))
print(type({}))
print(type('a'))

<class 'int'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'str'>

In [6]:
# Criando um novo tuipo de objeto chamado Carro
class Carro(object):
    pass

# Instância do Carro
palio = Carro()

print(type(palio))

<class '__main__.Carro'>

In [7]:
# Criando uma classe
class Estudantes():
    def __init__ (self, nome, idade, nota):
        self.nome = nome
        self.idade = idade
        self.nota = nota

In [10]:
# Criando um objeto chamdo Estudantes1, a partir da classe Estudantes
Estudandes1 = Estudantes('Pelé',12,9.5)

In [12]:
# Atributo da classe Estudante, utilizado por cada objeto criado a partir desat classe
Estudandes1.nome

'Pelé'

In [13]:
# Atributo da classe Estudante, utilizado por cada objeto criado a partir desat classe
Estudandes1.idade

12

In [14]:
# Atributo da classe Estudante, utilizado por cada objeto criado a partir desat classe
Estudandes1.nota

9.5

In [34]:
# Criando uma classe
class Funcionarios():
    def __init__ (self, nome, salario):
        self.nome = nome
        self.salario = salario
        
    def listFunc(self):
        print('O nome do funcionário é ' + self.nome + ' ' + 'e o salário é de R$' + str(self.salario))

In [35]:
# Criando um objeto chamdo Func1, a partir da classe Fubncionario
Func1 = Funcionarios('Obama', 20000)

In [36]:
# Usando o Método da Classe
Func1.listFunc()

O nome do funcionário é Obama e o salário é de R$20000

In [37]:
print("**** Usando Atributos ****")

**** Usando Atributos ****

In [38]:
hasattr(Func1,'nome')

True

In [39]:
hasattr(Func1,'salario')

True

In [40]:
setattr(Func1,'salario', 4500)

In [41]:
hasattr(Func1,'salario')

True

In [42]:
getattr(Func1,'salario')

4500

In [43]:
delattr(Func1,'salario')

In [44]:
hasattr(Func1,'salario')

False